<h2 class="passenger-title h2 text-center text-primary">
  Lista de Pasajeros en el Hotel
</h2>

<div [ngStyle]="buttonStyle">
  <button class="text-primary me-1" [routerLink]="['/pasajeros/nuevo']">
    Agregar Pasajero
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Nacionalidad</th>
      <th scope="col">Fecha Ingreso</th>
      <th scope="col">Fecha Salida</th>
      <th scope="col">Número Habitacion</th>
      <th scope="col">Tipo Paquete</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pasajero">
      <td>{{ p.pasajeroId }}</td>
      <td>{{ p.pasajero_nombre }}</td>
      <td>{{ p.nacionalidad }}</td>
      <td>{{ p.fecha_ingreso | date: "d MMMM, y" }}</td>
      <td>{{ p.fecha_salida | date: "d MMMM, y" }}</td>
      <td>{{ p.numero_habitacion }}</td>
      <td>{{ p.tipo_paquete }}</td>
      <td><button (click)="delete(p.pasajeroId)">Eliminar</button><button class="ms-1" [routerLink]="['/pasajeros/editar', p.pasajeroId]">Editar</button></td>
    </tr>
  </tbody>
</table>
